.navMenu {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 30px;
  z-index: 1;
  display: flex;
  justify-content: space-between;

  /* Animations */
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.navMenu_black {
  background-color: #111;
}

.navMenu_logo {
  width: 90px;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
}

.navMenu_options {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}

.navMenu_profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navMenu_profile h4 {
  cursor: pointer;
}

.navMenu_profile,
.navMenu_profile_av {
  display: flex;
  align-items: center;
}

.navMenu_avatar {
  width: 30px;
  object-fit: contain;
  margin: 15px;
  margin-right: 10px;
  cursor: pointer;
}
